<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc</title>
</head>
<body>
    <p id="demo"></p>
    <h2>Javascript Error Handling..</h2>
    
    <script>
        try{
           alert("Welcome Guest!");
           consle.log("Error spotted!")
        }

        catch(err)
        {
            document.getElementById("demo").innerHTML = err.message;
        }
        finally{
            console.log("Everthing is fine..")
        }
    </script>
</body>
</html>